/******************* common *******************/
body {
  padding: 0;
  margin:0;
  font-family: 'Roboto',sans-serif;
}
* {
  box-sizing: border-box;
}
*:focus, *:active {
  outline: none;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.cf:after {
  content: '';
  display: table;
  clear: both;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inline-flex {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.primary-link {
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  display: inline-block;
}
ul {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.brd-btm {
  position: relative;
  padding-bottom: 10px;
}
.brd-btm:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 150px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.brd-btm.white:after {
  background: white;
}
.brd-btm.grey:after {
  background: grey;
}
.for-scroll {
    position: absolute;
    background: transparent;
    width: 20px;
    height: 21.97px;
    bottom: 100%;
}
/****************** header ******************/
header {
  position: relative;
  z-index: 99;
}
header .mob-header {
  display: none;
}
header #toggleMenuBar {
  display: none;
}
header .sub-header a {
  text-decoration: none;
  color: white;
}
header .sub-header  a:last-child {
  margin-right: 0;
}
header .sub-header a:hover {
  color: yellow;
}
header .sub-header {
  background-color: #292929;
  padding: 10px;
}
header .sub-header a {
  font-size: 12px;
  margin-right: 5px;
  font-weight: 300;
}
header .sub-header i {
  margin-right: 5px;
}
header .main-header {
  padding: 15px 0;
}
header .logoMob {
  display: none;
}
header .main-header.active {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #404040;
}
header .main-header a img {
  width:150px;
}
header .main-header .main-nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 25px;
  text-transform: uppercase;
  font-size: 12px;
}
header .main-header .main-nav ul li:last-child {
  margin-right: 0;
}
header .main-header .main-nav ul li.active a {
  color: yellow;
}
header .main-header .main-nav ul li a {
  color: white;
  padding-bottom: 4px;
}
header .main-header .main-nav ul li a:hover {
  color: yellow;
}

/*********************** banner **********************/
.banner {
  background-image: url('../img/banner.jpg');
  min-height: 650px;
  background-position: center;
  background-size: cover;
  padding: 150px 0 130px 0;
  color: white;
  position: relative;
  margin-top: -62.97px;
}
.banner .content {
  max-width: 550px;
}
.banner  img{
  display: none;
}
.banner .content h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 800;
  margin: 0 0 10px 0;
}
.banner .content p {
  margin: 0;
  font-size: 13px;
  margin-bottom: 30px;
}
.banner .content a {
  font-size: 10px;
  padding: 10px 20px;
  border: 2px solid white;
  color: white;
}
.banner .content a:hover {
  color: black;
  background-color: orange;
  border: 2px solid transparent;
}

/********************** feature ******************************/
.feature {
  margin-top: -75px;
  position: relative;
}
.feature p{
  padding: 0 10px;
  font-size: 13px;
  color: white;
}
.feature .blue-inner p:last-child {
  font-size: 12px;
}
.feature .inner {
  padding: 20px;
  width: 33%;
  text-align: center;
}
.feature .blue-inner{
  background-color: #4886ff;
}
.feature .green-inner{
  background-color: #b5d56a;
}
.feature .pink-inner{
  background-color: #ff6f6f;
}
.feature a:first-child{
  color: white;
  font-size: 50px;
}
.feature h3{
  color: white;
}
.feature .arrow {
  color: white;
  font-size: 12px;
  font-weight: bold;
}
.feature .wrapper .r-arrow {
  color : white;
  font-size: 11px;
}
.feature .wrapper .arrow:hover {
  margin-right: 5px;
}
/********************** about ******************************/
.about {
  margin-top : 80px;
}
.about h2 {
  margin:0;
  font-size: 50px;
  color: #292929;
}
.about .wrapper .welcome {
  width : 50%;
  margin-bottom: 100px;
}
.about .welcome p{
  color: #525252;
  font-size: 13px;
}
.about .welcome a{
  font-size: 14px;
  font-weight: bold;
  color: #525252;
}
.about .wrapper .flex {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.about .wrapper .image{
  width : 50%;
  height: 400px;
  background-image: url('../img/welcome.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.feature .r-arrow {
  color : yellow;
  /* margin-left : 4px; */
  font-size: 11px;
}
.about .welcome .arrow:hover {
  margin-right: 5px;
}

/********************** popular courses ******************************/
.courses {
  background-color: #f9f9f9;
  padding: 15px 15px 100px 15px;
  position: relative;
}
.courses h2{
  text-align: center;
  font-size: 50px;
}
.courses .wrapper .inner {
  width:31%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.courses .inner .img{
  /* background-image: url('../img/img1.jpg'); */
  background-size: cover;
  height : 200px;
}
.courses .inner:nth-child(1) .img{
  background-image: url('../img/img1.jpg');
}
.courses .inner:nth-child(2) .img{
  background-image: url('../img/img2.jpg');
}
.courses .inner:nth-child(3) .img{
  background-image: url('../img/img3.jpg');
}
.courses .topic {
  padding: 20px 20px;
}
.courses .wrapper .inner h3{
  padding: 0;
  color:black;
  font-weight: bold;
  font-size: 15px;
  margin : 0;
}
.courses .wrapper .inner {
  background-color: white;
}
.courses .wrapper .inner  p{
  color: grey;
  font-size: 12px;
}
.courses .inner .reviews{
  border-bottom:1px solid #b1b1b1;
  padding: 0;
}
.courses li{
  display: inline-block;
}
.courses .reviews .star-icon{
  color: #ed8a19;
  font-size: 12px;
}
.courses .ratings span{
  font-size: 12px;
}
.courses .user{
  color: grey;
  font-size: 12px;
}

/*********************** video *******************/
.video {
  background-image: url('../img/video-bg.jpeg');
  background-size: cover;
  background-position: center;
  height:550px;
  text-align: center;
  color:white;
  position: relative;
  font-size: 25px;
}
.video .content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left:50%;
}
.video .content .img {
  width : 150px;
}

/*********************** events *******************/
.events {
  padding: 40px 0;
  position: relative;
}
.events h2{
  color:black;
  font-size: 50px;
  text-align: center;
}
.events p{
  margin: 10px 0 15px 0;
  font-size: 13px;
  color: #808080;
}
.events .time {
  margin: 0 10px;
}
.events a{
  color: #575757;
  font-weight: bold;
  font-size: 12px;
}
.events h3{
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  margin: 0px 0 15px 0;
}
.events .inner {
  margin-bottom: 35px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.events .inner:last-child {
  margin-top :10px;
}
.events .content {
  padding: 24px;
}
.events .inner .img {
  width :120%;
  height : 230px;
  background-size: cover;
  display: inline-block;
}
.events .inner:nth-child(1) .img{
  background-image: url('../img/event1.jpeg');
}
.events .inner:nth-child(2) .img{
  background-image: url('../img/events2.jpeg');
}
.events .wrapper .arrow:hover {
  margin-right: 5px;
}
.events .arrow:hover {
  margin-right: 5px;
}

/****************** purchase ******************/
.purchase {
  background-image: url('../img/purchase.png');
  background-size: cover;
  text-align: center;
  position: relative;
}
.purchase .wrapper {
  padding: 60px 0px;
}
.purchase .statistics{
  /* width:50%; */
}
.purchase .inner {
  width: 50%;
  float :left;
  display: inline-block;
  color  : white;
  font-size : 19px;
  font-weight: bold;
}
.purchase .inner:nth-child(3){
  margin-top: 10px;
}
.purchase .inner:last-child {
  margin-top: 10px;
}
.purchase .inner p {
  font-size:20px;
  margin:0 0 5px 0;
  font-weight: bold;
}
.purchase .inner p:last-child {
  font-size: 15px;
  margin : 0 0 10px 0;
  font-weight: normal;
}
.purchase .icon {
  width : 80px;
  height : 80px;
}
.purchase h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 0px 50px;
}
.purchase .purchase-theme {
  background-color: white;
  /* width: 50%; */
}
.purchase .purchase-theme p {
  color : #3e3e3e;
  font-size: 18px;
  margin-bottom: 30px;
  padding: 0px 50px;
}
.purchase .purchase-theme a {
  background-color: yellow;
  font-size: 22px;
  font-weight: bold;
  color: #3e3e3e;
  display: block;
  padding: 20px;
}

/********************  publications *************/
.publications {
  text-align: center;
  position: relative;
}
.publications .inner {
  width: 23%;
}
.publications h2 {
  font-size: 50px;
  color : black;
  font-weight: bold;
}
.publications h3 {
  color : black;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.publications p {
  color : #ffc000;
  font-size: 14px;
  font-weight: bold;
}
.publications a {
  font-size: 12px;
  font-weight: bolder;
  color : #3b3939;
  padding : 5px 15px;
  border: 1px solid #80808059;
}
.publications .content {
  margin: 10px;
}
.publications .inner {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.publications .inner .img{
  background-size: cover;
  /* width : 100%; */
  height : 350px;
}
.publications .inner:nth-child(1) .img{
  background-image: url('../img/product1.jpg');
}
.publications .inner:nth-child(2) .img{
  background-image: url('../img/product2.jpg');
}
.publications .inner:nth-child(3) .img{
  background-image: url('../img/product3.jpg');
}
.publications .inner:nth-child(4) .img{
  background-image: url('../img/product4.jpg');
}

/******************* news *********************/
.news {
  background-image: url('../img/news-bg.jpg');
  padding: 0 0 80px 0;
  position: relative;
}
.news h2 {
  color : #3e3e3e;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}
.news p {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  color : black;
}
.news p:last-child {
  color : #3e3e3e;
  font-size: 12px;
  margin : 15px 0 10px 0;
  font-weight: normal;
}
.news .inner {
  width : 31%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.news .inner .img {
  height : 250px;
  background-size: cover;
}
.news .inner:nth-child(1) .img {
  background-image: url('../img/news1.jpg');
}
.news .inner:nth-child(2) .img {
  background-image: url('../img/news2.jpg');
}
.news .inner:nth-child(3) .img {
  background-image: url('../img/news3.jpg');
}
.news .date, .name {
  margin-right: 10px;
}
.news .reviews {
  padding: 15px;
  background-color: white;
}

/*********************** reviews *********************/
.reviews {
  padding: 25px 0 40px 0;
}
.reviews h2 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color : black;
}
.reviews .people {
  text-align: center;
  width : 50%;
  margin-left: auto;
  margin-right: auto;
  color : #656565;
}
.reviews .people p {
  margin : 30px 0 10px 0;
  font-size: 14px;
}
.reviews .user {
  width : 150px;
  height: 150px;
  border-radius: 50%;
}
.reviews .people h3 {
  color : #3e3e3e;
  font-weight: bold;
  margin: 10px 0 0 0;
}
.reviews .people h4 {
  font-size: 14px;
  color : #656565;
  font-weight: normal;
  margin: 0;
}
.reviews .ratings {
  color : orange;
  font-size: 10px;
}

/************** careers ******************/
.careers {
  background-image: url('../img/career-bg.png');
  /* opacity: 0.5; */
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
}
.careers .wrapper {
  height: 180px;
}
.careers h2 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}
.careers p {
  color : #1c1c1c;
  margin: 0;
}
/* .careers .content, .btn{
padding-top: 40px;
} */
.careers .btn a {
  font-size: 12px;
  font-weight: bold;
  color : white;
  background-color: black;
  padding: 12px 30px;
}

/*********************** footer *****************/
footer {
  background-color: #292929;
  padding: 50px 0 0;
  position: relative;
}
footer h3 {
  font-weight: bold;
  color : white;
  margin: 0 0 20px 0;
  /* padding-bottom: 10px; */
}
footer ol {
  padding: 0;
  margin : 0;
}
footer li{
  list-style-type: none;
}
footer .list {
  margin-left :5px;
}
footer .icon-a {
  color : grey;
}
footer .top-footer p, footer .top-footer a, footer .top-footer li {
  color : grey;
  font-size: 12px;
  margin: 0;
  list-style-position: inside;
  margin-bottom: 5px;
}
footer .wrapper .topic:first-child p{
  margin-bottom: 15px;
}
footer .top-footer li i {
  font-size: 10px;
  margin-right: 5px;
}
footer .top-footer .logo img {
  width :100px;
  padding-bottom: 21px;
}
footer .top-footer .topic:first-child {
  padding-right: 30px;
}
footer .top-footer .topic p:first-child {
  padding-bottom: 10px;
}
footer .top-footer .topic  {
  width : 20%;
  float : left;
  padding-bottom: 30px;
}
footer .top-footer .topic input {
  background-color: #121212;
  border: none;
  padding:10px;
  margin-bottom: 5px;
}
footer .top-footer .topic:last-child a {
  padding: 10px;
  margin: 0;
  background-color: yellow;
  display: inline-block;
  color: #3e3e3e;
  font-weight: bold;
  font-size: 12px;
}
footer .top-footer {
  border-bottom: 1px solid white;
}
footer .topic .last-p {
  margin-bottom: 10px;
  font-size: 12px;
}
footer .bottom-footer {
  font-size: 10px;
  color: grey;
  padding: 15px 0;
}
footer .bottom-footer p {
  display: inline-block;
  padding-right: 5px;
}
footer .bottom-footer .icon {
  padding-right: 5px;
  color: grey;
}
footer .bottom-footer .icon:last-child {
  padding-right: 0;
}


@media screen and (max-width: 767px) {
  /****************** common ******************/
  .wrapper {
    padding: 0 20px;
  }

  /****************** header ******************/
  header {
    background: transparent;
    position: relative;
  }
  header .logo {
    display: none;
  }
  header .main-nav {
    position: fixed;
    z-index: 999;
    top: 40px;
    height: 0;
    background: black;
    width: 160px;
    right: 0;
    overflow: hidden;
  }
  header .main-header.active {
    position: relative;
    background: transparent;
  }
  header .main-header .main-nav ul li {
    margin: 0;
    display: block;
    text-align: right;
  }
  header .main-header .main-nav ul li:hover {
    background-color: #333333;
  }
  header .main-header .main-nav ul li:last-child {
    padding-bottom: 5px;
  }
  #mainNav.open {
    display: block;
    height: auto;
  }
  header .main-nav a {
    padding-bottom: 4px;
    padding: 10px 20px 10px 10px;
    display: block;
  }
  header #toggleMenuBar {
    display: inline-block;
    color: white;
    font-size: 20px;
  }
  header .mob-header {
    display: block;
    background: black;
    position: fixed;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ffffff66;
  }
  header .mob-header .wrapper {
    height: 50px;
  }
  header .mob-header img {
    height: 22px;
    display: block;
  }
  header .mobile-toggle {
    display: inline-block;
    padding-top: 20px;
  }
  header .sub-header {
    padding-top: 59px;
  }
  header .headerflow {
    display: none;
  }
  header .main-header .main-nav .search {
    display: none;
  }

  /***************** banner **********************************/
  .banner {
    min-height: 500px;
  }
  .banner .right.arrow {
    display: none;
  }
  .banner .left.arrow {
    display: none;
  }
  .banner .wrapper img {
    width:120px;
    padding-bottom: 30px;
    display:block;
    position: absolute;
    top : 10px;
  }
  .banner .wrapper .content p {
    display: none;
  }
  .banner .content h1 {
    padding-bottom: 30px;
    font-size: 40px;
  }

  /***************** features **********************************/
  .feature .wrapper {
    flex-flow: column;
  }
  .feature .blue-inner {
    width : 100%;
    display: block;
    padding: 15px 15px;
    margin-top:100px;
    margin-bottom: 15px;
  }
  .feature .green-inner {
    width : 100%;
    display: block;
    padding: 15px 15px;
    margin-bottom: 15px;
  }
  .feature .pink-inner {
    width : 100%;
    display: block;
    padding: 15px 15px;
    margin-bottom: 15px;
  }

  /***************** about **********************************/
  .about .wrapper {
    flex-flow: column;
  }
  .about .wrapper .welcome,.image {
    width:100%;
    display: block;
    text-align: center;
  }
  .about .wrapper .image {
    width:100%;
    height: 200px;
    background-position: initial;
  }

  /***************** courses **********************************/
  .courses .wrapper {
    flex-flow: column;
  }
  .courses .wrapper .inner {
    width :100%;
    margin-bottom: 35px;
  }
  .courses .wrapper .inner:last-child{
    margin-bottom: 0;
  }

  /***************** events **********************************/
  .events .wrapper .inner {
    flex-flow : column;
  }
  .events .inner .img {
    width : 100%;
    display: block;
  }
  .events .content {
    padding: 20px 20px;
    text-align: center;
  }

  /***************** purchases **********************************/
  .purchase .wrapper {
    flex-flow: column;
  }
  .purchase .statistics .inner {
    width :100%;
    display:block;
    margin-bottom : 10px;
  }
  .purchase .purchase-theme {
    margin-top : 20px;
  }

  /***************** publications **********************************/
  .publications .wrapper {
    flex-flow: column;
  }
  .publications .wrapper .inner {
    width :100%;
    display: block;
    margin-bottom: 30px;
  }
  .publications .inner:nth-child(3) .img {
    background-position : bottom;
  }

  /***************** news **********************************/
  .news {
    background-position: right;
  }
  .news .wrapper {
    flex-flow: column;
  }
  .news .wrapper .inner {
    width :100%;
    display: block;
    margin-bottom: 30px;
  }

  /***************** reviews **********************************/
  .reviews .wrapper .people {
    width:100%;
  }

  /***************** careers *************************/
  .careers {
    height :400px;
    text-align: center;
  }
  .careers .wrapper {
    flex-flow: column;
  }
  .careers .wrapper .content {
    width : 100%;
    display: block;
    padding-top: 75px;
  }
  .careers .wrapper .content p {
    margin-top : 20px;
  }
  .careers .btn {
    margin-top: 50px;
    padding: 0;
  }

  /******************* footer ***************************/
  footer.wrapper {
    flex-flow: column;
  }
  footer .top-footer {
    flex-flow:column;
  }
  footer .top-footer .topic {
    width :100%;
    display: block;
  }
  footer .bottom-footer {
    flex-flow: column;
  }
  footer bottom-footer .copyrights p {
    display: block;
  }
}
